class Secrets {
  // Get yours at https://openrouteservice.org/dev/#/signup
  static const String openRouteServiceApiKey = 'YOUR_OPEN_ROUTE_SERVICE_KEY_HERE';

  // Get yours at https://console.picovoice.ai/
  static const String picovoiceAccessKey = 'YOUR_PICOVOICE_ANDROID_KEY_HERE';
  static const String picovoiceAccessKeyIos = 'YOUR_PICOVOICE_IOS_KEY_HERE'; 

  // Standard Google Maps API Key for Geocoding/Maps
  static const String googleMapsApiKey = 'YOUR_GOOGLE_MAPS_KEY_HERE';
}
